.cadre{
    position: absolute;
    border: 2px solid #eb3b5a;
    height: 150px;
    width: 85px;
    border-radius: 8px;
    background: darkgrey;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
